body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 36px;
    color: #333;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Agrega estos estilos a tu archivo styles.css */

.noticias-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.noticias-table th,
.noticias-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.noticias-table th {
    background-color: #3498db;
    color: #fff;
}

.action-link {
    color: #3498db;
    text-decoration: none;
    margin-right: 10px;
}

.action-link:hover {
    text-decoration: underline;
}